<html>

<head>

<link rel="stylesheet" href="layout.css">

<body>
 <div id="topo"> 
  <h1>TOPO</h1>
   </div>
    <div id="conteudoEsq"> 
     <h3>COLUNA ESQUERDA</h3>
      <p>Lorem .... </p>
       </div>
      <div id="colEsq">
     <div id="sepEsqcolCentral">
    <div id="colDir">
   <div id="conteudoDir"> 
  <h3>COLUNA DIREITA</h3>
 Lorem ipsum ...  
</div>
 <div id="sepcolCentralDir">
  <div id="colCentral">
   <h1>COLUNA CENTRAL</h1>
    <h3>Abaixo a folha de estilo 
	deste layout:</h3>
     ..............
      <h3>E abaixo o código HTML</h3>		
       .......
       </div>
     </div>
    </div>
   </div>  
  </div>
 </body>
</html>
