
p 
{
color: #FFFFFF;
background-color: #FFCC66;
font-family: arial; verdana;
font-size: 10pt;
margin: 40px 10px 20 px 30 px;
padding: 50px 0px 50px 100px;
 border-width: thin;
   border-style: solid;
   border-color: orange;
}
