/* Import a custom font for the header */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Set global styles for body */
body {
    font-family: 'Roboto', Montserrat;
    background-color: #E4E4E4;
}

/* Style the header */
header {
    background-color: #296D4D;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    header h1 {
        font-size: 36px;
        margin: 0;
    }

    header nav ul {
        display: flex;
        list-style: none;
        margin: 0;
    }

        header nav ul li {
            margin-left: 20px;
        }

            header nav ul li a {
                color: white;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
            }

                header nav ul li a:hover {
                    color: #3EA6C8;
                }

/* Style the banner */


#banner {
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: content-box;
}


    #banner::before {
        background-image: url('../../public/img/Cantareira/Cantareira Alerta.jpg');
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center;
        filter: blur(1.5px);
        backdrop-filter: blur(1.5px); /* Adjust the value to control the amount of blur */
        -webkit-backdrop-filter: blur(1.5px); /* Add vendor prefixes for browser compatibility */
        z-index: -1;
    }
.banner-content {
    position: relative;
    z-index: 1;
}
    #banner h2 {
        font-size: 48px;
        margin: 0;
        text-align: center;
        text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
    }

    #banner p {
        font-size: 24px;
        text-align: center;
        margin: 0;
        text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
    }

/* Style the sections */
section {
    padding: 50px;
    background-color: white;
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

    section h2 {
        font-size: 36px;
        margin: 0;
        margin-bottom: 20px;
    }

    section p {
        font-size: 18px;
        line-height: 1.5;
    }

    section ul {
        margin: 0;
        list-style: none;
    }

        section ul li {
            margin-bottom: 10px;
        }

            section ul li a {
                color: #296D4D;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
            }

                section ul li a:hover {
                    color: #3EA6C8;
                }

/* Style the footer */
footer {
    background-color: #296D4D;
    color: white;
    padding: 10px;
    text-align: center;
}

    footer p {
        margin: 0;
    }

    footer a {
        color: white;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }

        footer a:hover {
            color: #3EA6C8;
        }


h2, #banner > p {
    color: orange;
}
